footer {
  margin-top: 15rem;

  // height: 710px;
  height: auto;
  width: 100%;

  background-color: var(--card-color);

  .footer-container {
    width: min(90vw, 1800px);
    margin: auto;

    .hr-width {
      width: 99.1vw;
      display: flex;
      overflow-x: auto;
      position: absolute;
      right: 0;
      left: 0;
    }
  }

  .title {
    width: 100%;
    height: 20rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .btn-top {
      height: 80px;
      width: 80px;
      background-color: var(--color-logo);
      opacity: 8;

      border: none;
      cursor: pointer;
    }
  }

  .middle-footer {
    hr {
      border-width: 1px;
      background: gray;
    }
  }

  .middle {
    display: flex;
  }

  .middle-left {
    min-height: 350px;
    width: 500px;

    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-x: hidden;

    .middleLeft-text {
      min-height: 80px;
      width: 400px;

      font-weight: normal;
      font-size: 2rem;

      margin-bottom: 2rem;

      color: var(--text-color);

      p {
        height: 100%;
        width: 100%;

        span {
          color: var(--color-logo);
        }
      }
    }

    .sendEmail {
      height: 66px;
      // width: 425px;

      display: flex;
      align-items: center;
      justify-content: center;
    }

    input {
      height: 100%;
      width: 100%;

      border: none;
      background: var(--color-input);
      font-size: 1.5rem;
      color: var(--subtitle-color);
    }

    input::placeholder {
      text-align: center;
    }

    .send-button {
      height: 66px;
      width: 135px;

      cursor: pointer;
      background: var(--text-color);
      color: var(--black-text);

      font-weight: bold;
      font-size: 1.5rem;
    }
  }

  .middle-right {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 250px;
    margin-left: 122px;

    .information-styled {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;

      gap: 0.5rem;

      p {
        color: var(--text-color);
        font-size: 2rem;
      }

      a {
        color: var(--subtitle-color);
        text-decoration: none;
        font-size: 1.5rem;
      }
    }
  }

  .end-footer {
    height: 20rem;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .social-media {
      display: inline-flex;
      a {
        font-size: 1.5rem;
        color: var(--subtitle-color);
      }
    }

    .icons {
      cursor: pointer;

      display: flex;
      gap: 50px;

      img {
        height: 35px;
        width: 35px;
      }
    }
  }
}
