footer {
  margin-top: 15rem;

  height: 710px;
  width: 100%;

  background-color: var(--card-color);

  .footer-container {
    width: min(90vw, 1800px);
    margin: auto;
  }

  .title {
    width: 100%;
    height: 20rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .btn-top {
      height: 80px;
      width: 80px;
      background-color: var(--color-logo);
      opacity: 8;

      border: none;
      cursor: pointer;
    }
  }

  .middle-footer {
    hr {
      border-width: 1px;
      background: gray;
    }
  }

  .middle-left {
    min-height: 200px;
    width: 500px;

    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    .middleLeft-text {
      min-height: 80px;
      width: 400px;

      font-weight: normal;
      font-size: 2rem;

      margin-bottom: 2rem;

      color: var(--text-color);

      p {
        height: 100%;
        width: 100%;

        span {
          color: var(--color-logo);
        }
      }
    }

    .sendEmail {
      height: 66px;
      // width: 425px;

      display: flex;
      align-items: center;
      justify-content: center;
    }

    input {
      height: 100%;
      width: 100%;
      // padding: 0.5rem;

      border: none;
      background: var(--color-input);
      font-size: 1.5rem;
      color: var(--subtitle-color);
    }

    input::placeholder {
      text-align: center;
    }

    .send-button {
      height: 66px;
      width: 135px;

      background: var(--text-color);
      color: var(--black-text);

      font-weight: bold;
      font-size: 1.5rem;
    }
  }
}
